body {
  background-image: url("https://mrbossosity.github.io/images/A3846D3E-3DA3-4DD1-9F24-1C81E9870F65.jpeg");
  }
 .box {
  width: 65%;
  height: 55%;
  max-height: 475px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 2px 5px 8px rgb(50,50,50);
  background-color: rgba(252,252,252,0.98);
  padding: 4px 7px;
  text-align: justify;
  }
 .header {
  color:  mediumblue;
  font-family: "Palatino Linotype", serif;
  font-size: 43px;
  font-weight: bold;
  margin: 10px;
  }
 .info {
  font-family: "arial", sans serif;
  font-size: 20px;
  margin: 10px;
  }
 .bold {
  font-family: "arial", sans serif;
  font-size: 20px;
  font-weight: bold;
  }
 .room {
  font-family: "arial", sans serif;
  font-size: 20px;
  color: dodgerblue;
  text-decoration: none;
  }
 .zero-active {
  color: White;
  font-family: helvetica, sans serif;
  font-size: 18px;
  background-color: rgb(50,150,65);
  border: 1px solid lightgray;
  border-radius: 7px;
  text-decoration: none;
  padding: 0px 4px;
  }
