  h1   {
   color: blue;
   border-style: hidden hidden groove hidden; border-color: darkblue;
   font-family: "Palatino Linotype", serif;
   font-size: 32px;
}
.p1 {
   color: black;
   font-family: arial, sans serif;
   font-size: 13px;
   font-style: italic;
}
.var txt {
   color: black;
   font-family: helvetica, sans serif;
   font-size: 15px
}
.next {
    float: left;
    background-color: orange;
    border: 2px solid lightgray;
    border-radius: 7px;
    color: white;
    font-family: helvetica, sans serif;
    padding: 4px 13px;
    }
.pause {
    float: left;
    background-color: dodgerblue;
    border: 2px solid lightgray;
    border-radius: 7px;
    color: white;
    font-family: helvetica, sans serif;
    padding: 4px 13px;
    }
  .resume {
    float: left;
    background-color: green;
    border: 2px solid lightgray;
    border-radius: 7px;
    color: white;
    font-family: helvetica, sans serif;
    padding: 4px 13px;
    }
  .buzz {
    float: right;
    background-color: red;
    border: 2px solid lightgray;
    border-radius: 7px;
    color: white;
    font-family: helvetica, sans serif;
    padding: 4px 13px;
    } 
