body {
  font-family: 'Nanum Gothic';
  height: 125vh;
  margin-top: 10.65vw;
  background-image: linear-gradient(to right, rgba(200,210,225,0.1), rgba(200,210,225,0.1), rgba(200,210,225,0.2), rgba(170,175,175, 0.21));
}

header {
  z-index: 5;
  position: fixed;
  top: 0; left: 0; right: 0;
  height: 10vw;
  width: 100vw;
  background-color: white;
  width: 100%;
  height: 5.8vw;
  padding-bottom: 2.7vw;
  border-bottom: 0.28vw solid darkgray; 
}

a.phb {
  text-decoration: none;
  font-size: 2.35vw;
  letter-spacing: 0.18vw;
  color: rgb(38,35,38);
  background-color: rgb(251,251,251);
  border: 0.1em solid dodgerblue; 
  border-radius: 20em;
  box-shadow: 0.085em 0.16em 0.2em gray;
  padding: 1.37vw 1.67vw;
  position: fixed;
  top: 1.4vw; left: 0.65vw;
}

span.doing {
  font-style: italic;
  font-size: 1.36vw;
  margin-left: 1.0vw; 
  position: fixed;
  top: 5.4vw; left: 28.1vw
}

.loader {
  width: 10vw; 
  height: 10vw;
  border: 1.4vw solid lightgray;
  border-top: 1.4vw solid dodgerblue;
  border-bottom: 1.4vw solid darkorange;
  border-left: 1.4vw solid rgb(240,240,240);
  border-radius: 50%;
  position: absolute;
  top: 24vw;
  left: 45vw;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
    
#top {
  height: 0;  
  margin-bottom: 0;
}
  
.main {
  display: none;
  padding: 1vw 1.5vw;
  margin-top: 10vw;
}

#userquery {
  width: 46.9vw;
  height: 3vw;
  font-size: 1.7vw;
  margin-bottom: 0.7vw;
}

.search {
  text-align: center;
  color: darkorange;
  background-color: white;
  border: 0.1em solid orange;
  border-radius: 0.8vw;
  box-shadow: 0.1vw 0.23vw 0.1vw gray;
  width: 6vw;
  height: 3.8vw;
  font-size: 1.45vw;
  padding: 0.3vw;
  margin-left: 1.3vw;
}
  
#results {
  padding: 0.6vw 0.6vw;
}
  
#intro {
  font-style: italic;
  font-size: 2.2vw;
  letter-spacing: 0.13vw;
  text-align: center;
}

poland {
  font-style: normal;
}

#hr {
  display: none
}

.sr {
  margin-bottom: 1.7vw; margin-top: 1.7vw;
  line-height: 2.86vw;
  font-size: 3.3vw;
  border-left: 0.3vw solid gray;
  border-radius: 0.1vw;
  padding-left: 1.2vw;
  padding-top: 0.7vw; padding-bottom: 0.3vw;
}

.qresult {
  border: 0.18vw solid darkgray;
  border-radius: 0.5vw;
  padding: 1vw 1.24vw;
  font-size: 1.5vw;
  text-align: justify;
  box-shadow: 0vw 0.2vw 0.4vw dodgerblue;
  background-color: white;
}

#split {
  height: 6.39vw;
}

.aresult {
  border: 0.18vw solid darkgray;
  border-radius: 0.5vw;
  padding: 1vw 1.24vw;
  font-size: 1.5vw;
  text-align: justify;
  box-shadow: 0vw 0.2vw 0.4vw orange;
  background-color: white;
}

.srq {
  font-size: 1.5vw;
  font-style: italic;
  margin-left: 0.2vw
}
  
.scroll {
  text-decoration: none;
  font-size: 1.2vw;
  letter-spacing: 0.1vw;
  color: rgb(38,35,38);
  background-color: rgb(251,251,251);
  border: 0.15vw solid gray; 
  border-radius: 0.83vw;
  box-shadow: 0.085em 0.16em 0.2em darkgray;
  padding: 0.43vw 0.70vw;
  float: right;
}
